<!-- 
      BEGINNING OF MAIN CONTAINER

      Notes:  I made it container sm and userCon
              so that it inherits the properties of Bootstrap fluid
    -->
    <script>
  var cafeName = {{{ json ownerprofile.cafeName }}};
  if ({{  reviewCount  }} == 0) {
    var stopFetching = true;
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="../../scripts/hbs_init.js"></script>
<script src="../../scripts/cafe_lazy_loading.js"></script>

<div class="container-fluid userCon">

  <div class="container-fluid">

    <div class="row">

      {{> ownerProfileDetails ownerprofile}}
      <div class="col-8" id="profileReviewController">

        <div class="container-sm">
          <h3 class="recommended">
            Reviews
          </h3>

        </div>

        <!--
                    List of revoews
                -->
        {{#each reviews}}
        {{> ownerprofileReview this}}
        {{/each}}
      </div>
    </div>
  </div>
</div>